.logo {
    width: 100% !important;
    height: inherit !important;
    background: top left no-repeat !important;
	max-width: 110px;
	max-height: 48px;
  }
  .topbar{
	  background-color: #EF4436 !important;
	  height: 60px;
  }

.topbar-right{
	padding: 0 10px 0 20px !important;
}


:host ::ng-deep .test {
	background-color: rgba(127, 168, 255, 0.062);
  }

  :host ::ng-deep .test .ui-panel-titlebar {
	background-color: rgba(39, 39, 39, 0.164);
  }

  :host ::ng-deep .test .ui-panel-title {
	color: rgb(0, 0, 0);
  }
  :host ::ng-deep .test  .ui-submenu-header {
	background-color: rgba(39, 39, 39, 0.164);
	color: rgb(0, 0, 0);
  }

  :host ::ng-deep .test  .ui-menuitem {
	color: rgb(0, 0, 0);
	font: 15px sans-serif;
	font-display: inherit;
  }

  :host ::ng-deep .ui-dialog .ui-dialog-titlebar{
    background: rgba(99, 99, 99, 0.329);
}

  .usuario-nome{

  }
  .divs{
	  align-items: center;
	  display: flex;
  }
  .div-ajuste{
	  text-align: end;
	  justify-content: flex-end;
  }
  .icons-settings {
		text-align: initial;
  }
  .label{
	  font-family: Titillium Web, sans-serif;
	  font-size: 20px;
	  color: #FFFFFF;
	  text-transform: uppercase;
  }

.topbar-icon{
	font-size: 25px !important;
}

.ultima-menu{
	text-align: left;
}

.icons-ajuste {
	margin-left: 14px;
}





