.logo {
    width: 100% !important;
    height: inherit !important;
    background: top left no-repeat !important;
  }
  .topbar-left {
    background-color: #DCDCDC !important;
}


:host ::ng-deep .test {
	background-color: rgba(127, 168, 255, 0.062);
  }

  :host ::ng-deep .test .ui-panel-titlebar {
	background-color: rgba(39, 39, 39, 0.164);
  }

  :host ::ng-deep .test .ui-panel-title {
	color: rgb(0, 0, 0);
  }
  :host ::ng-deep .test  .ui-submenu-header {
	background-color: rgba(39, 39, 39, 0.164);
	color: rgb(0, 0, 0);
  }

  :host ::ng-deep .test  .ui-menuitem {
	color: rgb(0, 0, 0);
	font: 15px sans-serif;
	font-display: inherit;
  }

  :host ::ng-deep .ui-dialog .ui-dialog-titlebar{
    background: rgba(99, 99, 99, 0.329); 
}