@keyframes login-animate {
	from {
		width: 0px;
		padding: 0px;
	}

	to {
		width: 500px;
		padding: 55px 55px 37px;
	}
}

@keyframes login-animate-basis-background {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

@keyframes slide-in-abaco {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animated-abaco {
    position: absolute; 
    top: 35%; 
    left: 10%;
    font-size: 6em; 
    color: #FFF; 
    opacity: 1;
    font-weight: bold;
    z-index: 10;
    animation-name: slide-in-abaco;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.login-template {
	justify-content: center;
	margin: 0 auto;
	background-color: white;
	width: 100%;
	height: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
	position: absolute;

	.container-login::before {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(255, 255, 255, .9)
	}

	.container-login {
		background-image: url("../../assets/layout/images/login/bg2.png");
		width: 100%;
		min-height: 100vh;
		padding: 0px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;

		.basis-background {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: auto;
			opacity: 0;
			animation-name: login-animate-basis-background;
			animation-duration: 2s;
			animation-timing-function: ease-in;
			animation-fill-mode: forwards;
		}

		.login-panel {
			display: flex;
			align-items: center;
			margin: 0px;
			height: 100%;
			color: black;
			width: 0px;
			overflow: hidden;
			padding: 0px;
			background: white;
			animation-name: login-animate;
			animation-duration: 2s;
			animation-timing-function: ease-in-out;
			animation-fill-mode: forwards;

			.ui-g .ui-g-12 {
				padding: 0px !important;
			}

			form {
				width: 100%;

				.ui-message {
					background-color: transparent;
					border: none;
					font-weight: bold;
					color: #EF4436;
					margin-top: -25px;
				}

				.logo {
					font-size: 60px;
					color: #333;
					display: -webkit-box;
					display: -webkit-flex;
					display: -moz-box;
					display: -ms-flexbox;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 150px;
					height: 150px;
					border-radius: 50%;
					margin: 0 auto;
					/*background-color: #fff;*/
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
				}

				.title {
					/*font-family: Poppins-Medium;*/
					font-size: 30px;
					font-weight: bold;
					color: #EF4436;
					line-height: 1.2;
					text-align: center;
					text-transform: uppercase;
					display: block;
				}

				.p-b-34 {
					padding-bottom: 34px;
				}

				.p-t-27 {
					padding-top: 27px;
				}

				.input {
					width: 100%;
					position: relative;
					border-bottom: 2px solid rgba(255, 255, 255, .24);
					margin-bottom: 30px;

					input {
						outline: none;
						border: none;
					}

					input:focus {
						border-color: #EF4436;
					}

					input:focus::-webkit-input-placeholder {
						color: transparent
					}

					input:focus:-moz-placeholder {
						color: transparent
					}

					input:focus::-moz-placeholder {
						color: transparent
					}

					input:focus:-ms-input-placeholder {
						color: transparent
					}

					input::-webkit-input-placeholder {
						color: black;
					}

					input:-moz-placeholder {
						color: black;
					}

					input::-moz-placeholder {
						color: black;
					}

					input:-ms-input-placeholder {
						color: black;
					}

					input {
						/*font-family: Poppins-Regular;*/
						font-size: 16px;
						color: black;
						line-height: 1.2;
						display: block;
						width: 100%;
						height: 45px;
						background: 0 0;
						padding: 0 5px 0 38px;
						border: #EF4436 1px solid;
					}

					span {
						position: absolute;
						display: block;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						pointer-events: none;
						text-align: left;
					}

					span::before {
						content: "";
						display: block;
						position: absolute;
						bottom: -2px;
						left: 0;
						width: 0;
						height: 2px;
						-webkit-transition: all .4s;
						-o-transition: all .4s;
						-moz-transition: all .4s;
						transition: all .4s;
						background: #fff
					}

					span::after {
						font-family: "Material Icons";
						font-size: 22px;
						color: #fff;
						display: block;
						width: 100%;
						position: absolute;
						top: 14px;
						left: 0;
						padding-left: 5px;
						-webkit-transition: all .4s;
						-o-transition: all .4s;
						-moz-transition: all .4s;
						transition: all .4s
					}

					span.username::after {
						content: "person";
					}

					span.password::after {
						content: "lock";
					}

					input:focus {
						padding-left: 5px
					}

					input:focus+span::after {
						top: -22px;
						font-size: 18px
					}

					input:focus+span::before {
						width: 100%
					}
				}

				.login-btn {
					width: 100%;
					display: -webkit-box;
					display: -webkit-flex;
					display: -moz-box;
					display: -ms-flexbox;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;

					button {
						/*font-family: Poppins-Medium;*/
						font-size: 18px;
						font-weight: bold;
						color: white;
						line-height: 1.2;
						display: -webkit-box;
						display: -webkit-flex;
						display: -moz-box;
						display: -ms-flexbox;
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 0 20px;
						min-width: 120px;
						height: 50px;
						border-radius: 0px;
						background: #EF4436;
						position: relative;
						z-index: 1;
						-webkit-transition: all .4s;
						-o-transition: all .4s;
						-moz-transition: all .4s;
						transition: all .4s;
						width: 300px;
					}

					#rec-login {
						color: #EF4436;
						margin-top: -20px;
						margin-left: 260px;
					}

					#rec-cadastro {
						color: #EF4436;
					}



				}
			}
		}
	}
}