/* You can add global styles to this file, and also import other style files */
body .ui-widget-overlay {
    background-color: rgb(88, 87, 92, 0.8)!important;
    opacity: 1;
}

.ui-table .ui-table-scrollable-header-box {
    margin-right: 0px !important;
}

.table-tools .tools a {
    display: none;
}

.table-tools .tools basis-show-column {
    padding-right: 0px;
    border-right: 0;
    margin-right: 0px;
}



#idTabelaComponentAnalise td:nth-child(1) {
	width: 100px !important;
}
#idTabelaComponentAnalise th:nth-child(1) {
	width: 100px !important;
}

#idTabelaComponentAnalise th:nth-child(9) {
  width: 100px !important;
}
#idTabelaComponentAnalise td:nth-child(9) {
  width: 100px !important;
}
#idTabelaComponentAnalise th:nth-child(8) {
  width: 100px !important;
}
#idTabelaComponentAnalise td:nth-child(8) {
  width: 100px !important;
}
#idTabelaComponentAnalise th:nth-child(7) {
  width: 100px !important;
}
#idTabelaComponentAnalise td:nth-child(7) {
  width: 100px !important;
}
#idTabelaComponentAnalise th:nth-child(6) {
  width: 100px !important;
}
#idTabelaComponentAnalise td:nth-child(6) {
  width: 100px !important;
}
#idTabelaComponentAnalise th:nth-child(4) {
  width: 150px !important;
}
#idTabelaComponentAnalise td:nth-child(4) {
  width: 150px !important;
}
#idTabelaComponentAnalise th:nth-child(10) {
  width: 95px !important;
  padding: 0px;
}
#idTabelaComponentAnalise td:nth-child(10) {
  width: 95px !important;
}
#idTabelaComponentAnalise th:nth-child(11) {
  width: 95px !important;
  padding: 0px;
}
#idTabelaComponentAnalise td:nth-child(11) {
  width: 95px !important;
  text-align: center;
}

#idTabelaComponentAnalise th:nth-child(12) {
	width: 105px !important;
	padding: 0px;
  }
  #idTabelaComponentAnalise td:nth-child(12) {
	width: 105px !important;
	text-align: center;
  }

#idTabelaComponentAnalise th:nth-child(13) {
	width: 95px !important;
	padding: 0px;
  }
  #idTabelaComponentAnalise td:nth-child(13) {
	width: 95px !important;
	text-align: center;
  }
::ng-deep .p-panelmenu .p-panelmenu-header>a {
	background-color: lightblue;
  }::ng-deep .p-panelmenu .p-panelmenu-header.p-highlight>a {
    background-color: red;
  }::ng-deep .p-panelmenu ul li:nth-child(1) {
    color: blue;
}
