.logo {
	font-size: 60px;
	color: #333;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;
	/*background-color: #fff;*/
	/* background-image: url("../../assets/layout/images/login/abaco.png"); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
:host ::ng-deep .test {
	background-color: rgba(127, 168, 255, 0.062);
  }

  :host ::ng-deep .test .ui-panel-titlebar {
	background-color: rgba(39, 39, 39, 0.164);
  }

  :host ::ng-deep .test .ui-panel-title {
	color: rgb(0, 0, 0);
  }
  :host ::ng-deep .test  .ui-submenu-header {
	background-color: rgba(39, 39, 39, 0.164);
	color: rgb(0, 0, 0);
  }

  :host ::ng-deep .test  .ui-menuitem {
	color: rgb(0, 0, 0);
	font: 15px sans-serif;
	font-display: inherit;
  }

  :host ::ng-deep .ui-dialog .ui-dialog-titlebar{
    background: rgba(99, 99, 99, 0.329); 
}
  